# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/stockflow?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/stockflow_test?schema=public"

# Auth
JWT_SECRET=random-strings
JWT_EXPIRY=7d

# Business
TAX_RATE=0.11

# Server
PORT=3000
FRONTEND_URL=http://localhost:5173
